@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2');
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2');
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2');
    font-weight: bold;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2');
    font-weight: bold;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2');
    font-weight: 800;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2');
    font-weight: 800;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2');
    font-weight: 200;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2');
    font-weight: 200;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Light.woff2');
    font-weight: 300;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2');
    font-weight: 300;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2');
    font-weight: 500;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2');
    font-weight: 500;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2');
    font-weight: 600;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2');
    font-weight: 600;
    font-style: italic;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2');
    font-weight: 100;
}

@font-face {
    font-family: "JetBrains Mono";
    src: url('/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2');
    font-weight: 100;
    font-style: italic;
}

body {
    @apply flex justify-center min-h-screen bg-white text-black dark:bg-black dark:text-white pt-20 font-jetbrains-mono;
}

p {
    @apply my-4;
}