<div
  class="flex flex-col border border-slate-400 dark:border-slate-100 rounded-lg p-3 gap-3 max-w-md"
>
  <div class="flex justify-between">
    <div class="mr-8 font-bold">{{ project_name }}</div>
    <div class="flex gap-3">
      {% if let Some(gh) = github_url %}
      <a aria-label="GitHub" href="{{ gh }}" target="_blank" rel="noreferrer">
        <i class="fa-brands fa-github fa-lg"></i>
      </a>
      {% endif %} {% if let Some(pu) = package_url %}
      <a aria-label="package" href="{{ pu }}" target="_blank" rel="noreferrer">
        <i class="fa-solid fa-box"></i>
      </a>
      {% endif %} {% if let Some(url) = website_url %}
      <a aria-label="web" href="{{ url }}" target="_blank" rel="noreferrer">
        <i class="fa-solid fa-arrow-up-right-from-square"></i>
      </a>
      {% endif %}
    </div>
  </div>
  <div class="flex flex-row flex-wrap gap-3">
    {% for technology in technologies %}
    <div class="bg-indigo-400 text-black w-max rounded-2xl px-3 py-1">
      {{ technology }}
    </div>
    {% endfor %}
  </div>
  <div>
    <p class="text-justify">{{ project_description }}</p>
  </div>
</div>
