@import "tailwindcss";
@tailwind utilities;

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-Regular.woff2");
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-Italic.woff2");
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-Bold.woff2");
  font-weight: bold;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-BoldItalic.woff2");
  font-weight: bold;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-ExtraBold.woff2");
  font-weight: 800;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-ExtraBoldItalic.woff2");
  font-weight: 800;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-ExtraLight.woff2");
  font-weight: 200;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-ExtraLightItalic.woff2");
  font-weight: 200;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-Light.woff2");
  font-weight: 300;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-LightItalic.woff2");
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-Medium.woff2");
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-MediumItalic.woff2");
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-SemiBold.woff2");
  font-weight: 600;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-SemiBoldItalic.woff2");
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-Thin.woff2");
  font-weight: 100;
  font-display: swap;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("/static/fonts/JetBrainsMono/JetBrainsMono-ThinItalic.woff2");
  font-weight: 100;
  font-style: italic;
  font-display: swap;
}

@theme {
  --font-display: "JetBrains Mono";
}

html,
body {
  @apply min-h-screen min-w-screen;
}

body {
  @apply flex justify-center h-full bg-white text-black dark:bg-black dark:text-white pt-20 font-display;
}

h1 {
  @apply text-4xl;
}

h2 {
  @apply text-3xl;
}

p {
  @apply my-4;
}

button {
  @apply hover:cursor-pointer disabled:cursor-auto p-1;
}
